/* essa caracterização é coringa, pega tudo, por isso só o * */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:cursive
}

/*esse body before cria uma camada semi-transparente na imagem, pra deixar ela menos colorida? talvez fazer um sombreado acho que seria a definicao ideal*/
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste o último valor (0.5) para mais ou menos escuro */
}
/* Cor de fundo geral e estilo de body */
body {
    background-image: url('img/wallpaper.jpg');
    background-size: cover; /* pra deixar a imagem na tela toda*/
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff; /* Cor do texto */
    font-size: 24px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative; /* Para garantir que o ::before fique atrás do conteúdo */
}

/* Container principal do jogo */
#game-container {
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    position: relative;
}

#menu {
    display: flex; /* Flexbox para alinhar os botões lado a lado */
    gap: 20px; /* Espaço entre os botões */
    justify-content: center; /* Centraliza os botões */
}

#classico {
    background-image: url('img/classico.png');
    background-size: contain;
    background-position:center
}

#falas{
    background-image: url('img/falas.png');
    background-size: contain;
    background-position:center;
}

#falas-modo{
    background-color: #0055ff;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#cenas {
    background-image: url('img/cenas.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center
}

#cenas-modo {
    width: 100%;
    height: auto;
    border: 2px solid black;
    overflow: hidden; /*se uma imagem for maior q width ou height n vai aparecer o resto dela*/
    position:relative;
}

#imagem-cena {
    max-width: 400px; /* Garante que a imagem não ultrapasse os limites */
    height:auto;
    display: block;
    margin: 10px auto; /* Centraliza a imagem */
}


/* Estilo dos botões quadrados */
.menu-btn {
    width: 150px; /* Largura do botão */
    height: 150px; /* Altura do botão igual à largura, tornando-o quadrado */
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items:end;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color:black;
}

/* Efeito de hover para o botão */
.menu-btn:hover {
    transform: scale(1.1); /* Aumenta o tamanho do botão */
}